body{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(teste.png);
    background-size: 100%;
    font-family: 'K2D', sans-serif;
    letter-spacing: 1px;
    font-size: 22px;
}
div{
    display: inline-block;
}
